/* -------------------------------------- basic --------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url("./components/nav/nav.css");
@import url("./components/sectionSlider/sectionSlider.css");
@import url("./components/sectionAbout/sectionAbout.css");
@import url("./components/sectionOrders/sectionOrders.css");
@import url("./components/sectionOffers/sectionOffers.css");
@import url("./components/sectionOffers/lightbox.css");
@import url("./components/sectionContact/sectionContact.css");
@import url("./components/footer/footer.css");

/* @import url("../blacksmith_page/components/nav/nav.css");
@import url("../blacksmith_page/components/sectionSlider/sectionSlider.css");
@import url("../blacksmith_page/components/sectionAbout/sectionAbout.css");
@import url("../blacksmith_page/components/sectionOrders/sectionOrders.css");
@import url("../blacksmith_page/components/sectionOffers/sectionOffers.css");
@import url("../blacksmith_page/components/sectionContact/sectionContact.css");
@import url("../blacksmith_page/components/footer/footer.css"); */

:root {
    --kolor-glowny-section: #bbb0af;
    --kolor-glowny-letter: #7e7171;
    --kolor-glowny-white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}


/* -------------------------------------- chapter --------------------------------------*/

.chapter {
    color: #cf6615;
    text-transform: uppercase;
    padding: 40px 0 0 40px;
    font-size: 2.4rem;
}

@media screen and (max-width: 600px) {
    .chapter {
        text-align: center;
    }
}


/* -------------------------------------- Media Queries --------------------------------------*/

@media (min-width: 1281px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 480px) {}