#menu3 {
    background-color: var(--kolor-glowny-letter);
}

#menu3 img {
    width: 100%;
    min-height: 100%;
}

.container {
    max-width: 60vw;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 40px 0;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.labels h1 {
    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;
}

.foto {
    background-color: brown;
    width: 200px;
    height: 160px;
    cursor: pointer;
    margin: 0 15px 15px 15px;
    border: 5px solid rgb(104, 100, 100);
    border-radius: 4px;
}

.foto:hover {
    opacity: 0.6;
    border: 5px solid rgb(192, 191, 191);
}

.wrapperSmallPic {
    margin-top: 100px;
}

.wrapperSmallPic h1 {
    text-transform: capitalize;
    font-size: 1.4rem;
    border-bottom: 1px solid wheat;
    padding: 20px;
}

.smallfoto {
    padding: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.smallfoto_1 {
    width: 190px;
    height: 150px;
    margin: 15px;
}

.smallfoto_1 img {
    border-radius: 15px;
    border: 3px solid rgb(20, 19, 19);
}

.smallfoto_1:hover {
    opacity: 0.8;
}

.menu input[name='tab'] {
    display: none;
}

.menu section {
    display: grid;
    grid-template-columns: repeat(5, 100%);
    gap: 40px;
}

#project input:nth-child(1):checked~section {
    transform: translateX(0%);
}

input:nth-child(2):checked~section {
    transform: translateX(calc(-100% - 40px));
}

input:nth-child(3):checked~section {
    transform: translateX(calc(-200% - 80px));
}

input:nth-child(4):checked~section {
    transform: translateX(calc(-300% - 120px));
}

input:nth-child(5):checked~section {
    transform: translateX(calc(-400% - 160px));
}

@media (max-width: 952px) {
    #offer .chapter {
        margin: 0 0 25px 0;
    }
}