#offer {
    background-color: var(--kolor-glowny-letter);
}

#offer img {
    width: 100%;
    min-height: 100%;
}

.container {
    max-width: 60vw;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 40px 0;
}

.labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.foto {
    background-color: brown;
    width: 200px;
    height: 160px;
    cursor: pointer;
    margin: 15px;
    border: 1px solid rgb(226, 217, 217);
}

.foto:hover {
    opacity: 0.6;
}

.smallfoto {
    padding: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.smallfoto_1 {
    width: 150px;
    height: 110px;
    margin: 15px;
}

.smallfoto_1:hover {
    opacity: 0.8;
}

.menu input[name='tab'] {
    display: none;
}

.menu section {
    display: grid;
    grid-template-columns: repeat(5, 100%);
    gap: 40px;
}

#project input:nth-child(1):checked~section {
    transform: translateX(0%);
}

input:nth-child(2):checked~section {
    transform: translateX(calc(-100% - 40px));
}

input:nth-child(3):checked~section {
    transform: translateX(calc(-200% - 80px));
}

input:nth-child(4):checked~section {
    transform: translateX(calc(-300% - 120px));
}

input:nth-child(5):checked~section {
    transform: translateX(calc(-400% - 160px));
}