.sectionFirst {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
    background: var(--kolor-glowny-section);
}

.sectionFirst img {
    position: absolute;
    width: auto;
    height: 78%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    margin: 40px 0 0 0;
}

.sectionFirst h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: tahoma, sans-serif;
    text-shadow: 0 0 6px var(--kolor-glowny-white);
    text-align: center;
}