/* -------------------------------------- sectionContact -------------------------------------- */

.sectionFifth {
    background-color: var(--kolor-glowny-section);
}

.containercontact {
    display: flex;
    padding: 55px;
}

.Contactform {
    padding: 30px;
    width: 100%;
}


/* -------------------------------------- kontakt -------------------------------------- */

.box {
    width: 50vw;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    line-height: 35px;
    /* padding: 55px; */
}

.box h4 {
    color: var(--kolor-glowny-letter);
    font-size: 36px;
    letter-spacing: 5px;
    padding: 0 15px 20px 0;
    text-align: center;
    text-transform: capitalize;
}

.box h4 i {
    font-size: 3.2rem;
}

.box h1 {
    color: #000000;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
}

.box p i,
.box h4 i {
    padding: 0 15px 0 0;
    color: #cf6615;
}

.box p {
    color: var(--kolor-glowny-letter);
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.box p.email {
    text-transform: none;
    padding-bottom: 18px;
}


/* -------------------------------------- form -------------------------------------- */

input[type=text],
input[type=email],
select,
textarea {
    border-radius: 12px;
    border: 2px solid var(--kolor-glowny-letter);
    width: 100%;
    padding: 12px;
    margin: 6px 0 16px 0;
    resize: vertical;
}

textarea {
    height: 200px;
}

input[type=submit] {
    color: var(--kolor-glowny-section);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #332d2a;
}


/* -------------------------------------- Mediaform -------------------------------------- */

@media (max-width: 768px) {
    .containercontact {
        flex-direction: column;
    }
    .sectioncontact {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}


/* -------------------------------------- map -------------------------------------- */

.map iframe {
    width: 100%;
}

@media (max-width: 768px) {
    .map iframe {
        margin-top: 25px;
    }
}