/* -------------------------------------- sectionAbout -------------------------------------- */

#menu1 {
    background-color: var(--kolor-glowny-letter);
    height: 100%;
}

.wrapperAbout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.wrapperAbout p {
    width: 650px;
    font-size: 1.2rem;
    padding: 0 55px 0 55px;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: justify;
    font-weight: bold;
}

.wrapperAbout p::first-letter {
    font-size: 2.6rem;
}

.wrapperAbout img {
    width: 30%;
    height: auto;
    border-radius: 10%;
    margin: 0 0 48px 0;
}

@media screen and (max-width: 600px) {
    .wrapperAbout p {
        font-size: 1.0rem;
        padding: 25px;
    }
    .wrapperAbout img {
        width: 100%;
        padding: 30px 15px 25px 15px;
    }
}