/* -------------------------------------- NAV -------------------------------------- */

nav {
    background: var(--kolor-glowny-section);
    color: var(--kolor-glowny-white);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid black;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
}

label.logo a {
    color: black;
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 45px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: var(--kolor-glowny-white);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border: 3px solid black;
}

nav ul li a:hover {
    background: var(--kolor-glowny-letter);
    transition: .5s;
    color: rgb(5, 5, 5);
}

.checkbtn {
    font-size: 30px;
    color: var(--kolor-glowny-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* -------------------------------------- MEDIA NAV -------------------------------------- */

@media (max-width: 952px) {
    .checkbtn {
        position: fixed;
        margin: 0 0 0 30px;
        z-index: 2;
    }
    label.logo {
        font-size: 30px;
        float: right;
        letter-spacing: 2px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1125px) {
    .checkbtn {
        display: block;
    }
    ul {
        width: 100%;
        height: 100vh;
        background: var(--kolor-glowny-letter);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
        position: fixed;
    }
    nav ul li {
        display: block;
        margin: 60px 0 0 0;
        line-height: 14px;
    }
    nav ul li a {
        font-size: 22px;
        border: none;
    }
    nav ul li a:hover {
        background: none;
        color: var(--kolor-glowny-section);
    }
    #check:checked~ul {
        left: 0;
    }
}